@import url('https://fonts.googleapis.com/css?family=Sansita');

html{
  height: 100vh;
}
body{
  background-color: #3F51B5;
  font-family: 'Sansita', sans-serif;
  height: 100vh;
}

#background{
  position:fixed;
  bottom:0;
  width:100%;
  filter: drop-shadow(8px 9px 13px rgba(255,255,0,.5));
}

header{
  position: fixed;
  top:0px;
  width:100%;
  z-index:100;
  background: linear-gradient(#C5CAE9 50%, rgba(255,255,255,0) 0) 0 0,
  radial-gradient(circle closest-side, #C5CAE9 53%, rgba(255,255,255,0) 0) 0 0,
  radial-gradient(circle closest-side, #C5CAE9 50%, rgba(255,255,255,0) 0) 55px 0 #3F51B5;
  background-size:35px 260px;
  background-repeat:repeat-x;
  height: 150px;
  text-align: center;
}

a{
  text-decoration: none;
}

header a.logo img{
  height: 125px;
  display: inline;
}
nav{
  display: inline;
}

nav a{
  color:#FF5722;
  font-size: 2rem;
}

ul.work{
  display: inline-block;
  float:left;
  margin-left: 10%;
  line-height: 100px;
}

ul.me{
  display: inline-block;
  float:right;
  margin-right: 10%;
  line-height: 100px;
}

ul.work li{
  display:inline;
  margin-right: 30px;
}

ul.me li{
  display:inline;
  margin-left: 30px;
}

main{
  margin-top: 150px;
}


footer{
  color: #C5CAE9;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}

#blimp {
  display: inline-block;
  width:30%;
  margin-left: 35%;
  background-size: cover;
  text-indent: -9999px;
  animation: blimp 3s linear infinite;
}

.preloader{
  width:100%;
}

.preloader:before {
  content: "";
  display: block;
  width: 200px;
  height:100px;
  background: url(../images/cloud.svg) no-repeat;
  background-size: 100%;
  position:relative;
  float: right;
  animation: cloud 6s linear infinite;
}

.preloader:after {
  content: "";
  display: inline-block;
  width: 200px;
  height:100px;
  background: url(../images/cloud.svg) no-repeat;
  background-size: cover;
  position: absolute;
  margin-top: 20%;
  animation: cloud 7s linear infinite;
}

@keyframes blimp {
  0% {
    transform: translate(0, -30px);
  }
  50% {
    transform: translate(0, 30px);
  }
  100% {
    transform: translate(0, -30px);
  }
}

@keyframes cloud {
  0% {
    transform: translate(20px, 0);
    opacity: 0;
  }
  10% {
    opacity: .85;
  }
  90% {
    opacity: .85;
  }
  100% {
    transform: translate(-900px, 0);
    opacity: 0;
  }
}
