@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700');

body {
  padding: 0px;
  margin: 0px;
  color:#000000;
  line-height:150%;
  font-size:11px;

  background-color: white;

}


a:link, a:active, a:visited{
  text-decoration: none;
  color:#000000;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;}

  a:hover {
    color: #777777;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
  }

  /*header{
    left:50%;
    /*margin-left:-535px;*/
    top:200px;
    position:fixed;
    margin-right:auto;
    width: 200px;
    text-align:right;
    height:auto;
    padding:5px;
    z-index:9;
    overflow:hidden;
  }*/

  #posts {
    width:30vw;
    margin-top:1px;
    z-index:99;
    margin-left:-300px;
    right: auto ;
    left:20%;
    background:transparent;
    border-left:1px solid #eee;
    border-right:1px solid #eee;
    margin-right:auto;
    position:relative;
    overflow-y: wrap;
  }

  .entry {
    float:left;
    display: block;
    margin:50px;
    overflow:hidden;
    width:30vw;
    padding:10px;
  }


  .entry:nth-child(1){background:#32E1E1;}
  .entry:nth-child(2){background:#FAC8FA;}
    .entry:nth-child(3){background:#00AFFA;}
      .entry:nth-child(34){background:#DFC0B7;}

      .entry img{max-width:100%;}





    .blog-title {
      text-align:center;
      color: white;
      font-family: 'Merriweather', serif;
      font-style: normal;
      font-weight: 700;
      font-size: 3vh;
      letter-spacing: 3px
      /*border:1px solid #eee;*/
      margin-bottom:5px;
  }
