@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:600,700');

@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/*font-size: 100%;*/
	/*font: inherit;*/
	vertical-align: baseline;
}

header{
	width: 100%;
	height:100vh;
	display: block;
}

.hello{
	font-family: 'Josefin Sans';
	font-size: 16vw;
font-style: normal;
font-weight: 700;
    color: blue;
    padding-top:20vh;
    padding-left:5vw;

}

.about{
    font-family: 'Merriweather', serif;
    font-size: 3.5vw;
    color: purple;
    padding-top:2vh;
    padding-left:5vw;
    padding-right:2vw;
}


body{

	background: white;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}


.main-wrapper{
	position: relative;
	width: 100%;
}

.work-header{
    font-family: 'Josefin Sans';
    font-size: 2vw;
    color: #fff;
    padding-top:5vh;
    padding-left:5vw;

}

.work-wrapper{
	position: relative;
	width: 100%;
	padding-top: 5vh;
}

.work-container{
	display: block;
	text-decoration: none;
    padding-top:5vh;
    padding-left:5vw;
    padding-bottom:3.5vw;
    position: relative;
    overflow: hidden;

}


.web-title{
	font-size: 7vw;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
	transition:0.1s linear;

}

.dim{
	color: rgba(255,255,255,0.6);
}

.web-type{
    font-family: 'Josefin Sans';
    font-size: 2vw;
    color: #fff;
	transition:all 0.2s linear;
}

.arrow{
	position: absolute;
	top:50%;right:-10vw;
	width: 5vw;
	transform:translateY(-50%);
}


.work-container:hover{
	background: rgba(0,0,0,0.1);
}




.work-container:hover .arrow{
	right:5vw;
	transition:all 0.1s linear;
}

footer{
	display: block;
	padding-top:0px;
	padding-bottom:30px;
	background: rgb(195, 195, 195);
}




.landing-page{
    height:100vh;
}

.work-header {
    font-family: 'gibson';
    font-size: 2.5vw;
    color: #fff;
    padding-top: 0;
    display: inline-block;
    padding-left: 5vw;

}

footer .work-header{
        padding-top: 1.7em;
}

footer .dim{
    color:#fff;
}

.web-title{
    color:red;
}


.landing-page{
    display:table;
}

.about{
    display:table-cell;
    vertical-align:middle;
}

.dim{
    color:inherit;
}

.work-container:hover {
    background: rgba(31, 9, 191, 0.3);
}

.work-header a{
   color:blue;
   margin-right:20px;
}

.work-header a:hover{
   color:#fff;
   margin-right:20px;
}

.opl {
position:fixed;
top:100px;
left:0px;
z-index:99999;
}


.green{color:#fff); !important;}

@media only screen and (max-width:768px){
  .landing-page{
      height:auto;
  }
}


.about {
    line-height: 1.2;
}

body {
    background: white;
}
/*body a{*/
/*     cursor:url('http://static.tumblr.com/b750koq/uoaofgeup/cursor.svg'), default;*/
/*}*/


.web-title {
    color: #0000ee;
    letter-spacing: 4px;
}

.work-container:hover {
    background: rgba(255, 255, 255, 0.6);
}

.work-header a {
    color: yellow;
}

.fa {
    color: #0000ee;
}

.web-type {
    color: green;
}
