html, body {
margin: 0;
padding: 0;
height: 100%;
width:200%;
}

#slide{
  height:100%;
  width:25%;
  min-height:100%;
  float:left;
}
#slide img{
  position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    white-space: nowrap;
}

/*#slide img {
  display: inline-block;
  width: 45%;
}*/

.slide1{
  background:#2ecc71;

}
.slide2{
  background:#3498db;


}
.slide3{
  background:#e74c3c;

}
.slide4{
  background:#16a085;
}


#title{
  position:fixed;
  top:50%;
  text-align:center;
  width:100%;
  color:#fff;
  font-family:Futura;
  font-size:1.5em;
}
