/*********************
        HEADER
**********************/

header h1, header nav {
  display: inline-block;
  width: 40%;
}

header h1 {
  margin-left: 5%;
}

header nav {
  float: right;
}

header nav li {
  display: inline-block;
}

/*********************
HERO IMAGE AND HEADER
**********************/

main {
  /*TING: CHANGE TO IMAGE */
  /*background-image: url(https://placebear.com/200/300);
  background-size: cover;
  background-repeat: no-repeat;*/
  background-color: #FFA07A;
}

/*********************
MAIN BLURB
**********************/

main div {
  padding: 5em;
  padding-left: 55%;
}

main section.name-text h2 {
  padding-top: 2%;
}

section > * {
  margin: 0;
}

main section p {
  margin: 0;
  padding-top: 2em;
  width: 60%;
}

/*TING ADD ICONS!!!!*/
main section#icons {
  padding-top: 3em;
}

/*********************
FOOTER
**********************/

footer {
  border-top: transparent;
}

footer h4 {
  text-align: center;
}

footer nav {
  text-align: center;
}

footer nav ul {
  padding: 0;
}

footer nav li {
  display: inline-block;
}
