p.article-text {
  font-size: 1em;
  /*background-color: white;*/
}

main section.all-articles {
  display: inline-block;
  /*background-color: white;*/
  width: 68%;
  margin: auto;
  float: right;
}

ul li img {
  height: 50px;
  width: auto;
  margin: 4px;
}


section article {
  background-color: #f1e6c4;
  border-radius: 10px;
  border-style: outset;
  border-color: #e66123;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;

}

section article h2 {
  color: #0f394b;
  font-size: 1em;
}

main section article p.article-text {
  color: #0f394b;
  padding: 20px;

}

main section.side-bar {
  display: inline-block;
  position: fixed;
  left: 5%;
  /*top: 48%;*/
  width: 26%;
  float: left;
  background-color: #f1e6c4;
  border-radius: 10px;
  border-style: outset;

  border-color: #e66123;
}

main section ul li {
  color: #0f394b;
  text-align: left;
  font-size: 1em;
  list-style: disc;
  text-shadow: none;
  font-weight: bold;
}

main section ul li a {
  color: #0f394b;
}

main section ul li a:hover {
  color: #737c57;
}

main section ul.ways-to-connect li {
  display: inline-block;
  float: left;
  padding: .2em;
}

body {
  background: url("../images/orange_sunset.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

footer {

}
