/*********************
        HEADER
**********************/

header h1, header nav {
  display: inline-block;
  width: 40%;
}

header h1 {
  margin-left: 5%;
}

header nav {
  float: right;
}

header nav li {
  display: inline-block;
}

/*********************
HERO IMAGE AND HEADER
**********************/

main section:first-of-type {
  /*TING: CHANGE TO IMAGE */
  /*background-image: url(https://placebear.com/200/300);
  background-size: cover;
  background-repeat: no-repeat;*/
  height: 20em;
  background-color: #FFA07A;
}

main section h1#hero-text {
  text-align: center;
  padding: 9em;
  padding-bottom: 4em;
  left: 50%
}

main section h1 span {
  border: solid;
  background: white;
  padding: 1em;
}

/*********************
MAIN BLURB AND HEADER
**********************/

main div{
  padding-top: 6em;
}

main article {
  border: solid;
  margin-left: 10em;
  margin-right: 10em;
  margin-bottom: 3em;
}

main h3 {
  margin: 0;
  padding: 1em;
  padding-left: 1.7em;
  border-bottom: solid;
}

main p {
  margin: 2em;
}

/*********************
FOOTER
**********************/

footer {
  border-top: transparent;
  margin-top: 3%;
}

footer h4 {
  text-align: center;
}

footer nav {
  text-align: center;
}

footer nav ul {
  padding: 0;
}

footer nav li {
  display: inline-block;
}
