/*@import url('https://fonts.googleapis.com/css?family=Monoton');*/
/*@import url('https://fonts.googleapis.com/css?family=Bungee+Outline');*/
@import url('https://fonts.googleapis.com/css?family=Megrim');
/*@import url('https://fonts.googleapis.com/css?family=Raleway');*/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-size: cover;
  background-image: url('../images/tomato.jpeg');
  background-repeat: no-repeat;
  /*background-position: center center;*/
  height: 100%;
  font-family: 'Megrim', cursive;
}

a:link {
  text-decoration: none;
}

ul li {
  list-style-type: none;
  display: inline-block;
  margin: auto;
}

/*-------------------------------------------------------*/

header {
  position: fixed;
  background-color: transparent;
  width: 100%;
}

header h1 {
  font-size: 7vw;
  display: inline-block;
  margin-top: 0.25rem;
  padding-left: 1rem;
}

header nav {
  float: right;
  padding-right: 1rem;
}

/*--------------------------------------------------------*/

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: transparent;
}

footer nav {
  float: right;
  vertical-align: top;
}

footer h4 {
  margin: 0px;
  display: inline-block;
  float: left;
  font-size: 1.5vw;
}
