@import url('https://fonts.googleapis.com/css?family=Megrim|Raleway:100,200,300,400');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.home {
  background-size: cover;
  background-image: url('../images/tomato.jpeg');
  background-repeat: no-repeat;
  height: 100%;
  font-family: 'Megrim', cursive;
}

.portfolio {
  background-size: cover;
  background-image: url('../images/pencils2.jpg');
  background-repeat: no-repeat;
  height: 100%;
  font-family: 'Megrim', cursive;
}

.hobby {
  background-size: cover;
  background-image: url('../images/orange.jpeg');
  background-repeat: no-repeat;
  height: 100%;
  font-family: 'Megrim', cursive;
}

a:link {
  text-decoration: none;
}

header ul li, footer ul li {
  list-style-type: none;
  display: inline-block;
  margin: auto;
}

ul li {
  list-style-type: circle;
}
/*-------------------------------------------------------*/

header {
  position: fixed;
  background-color: transparent;
  width: 100%;
}

header h1 {
  font-size: 7vw;
  display: inline-block;
  margin-top: 0.25rem;
  padding-left: 1rem;
}

header nav {
  float: right;
  padding-right: 1rem;
}

/*--------------------------------------------------------*/

main {
  overflow: auto;
  position: absolute;
  top: 96px;
  bottom: 89px;
}

#projects i, h4, a {
  display: inline-block;
}

#projects {
  margin-left: 52vw;
}

#projects section {
  margin-bottom: 8vw;
}

#projects section ul {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}

/*--------------------------------------------------------*/



/*--------------------------------------------------------*/

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: transparent;
}

footer nav {
  float: right;
  vertical-align: top;
}

footer h4 {
  margin: 0px;
  display: inline-block;
  float: left;
  font-size: 1vw;
}
