/*********************
        HEADER
**********************/

header h1, header nav {
  display: inline-block;
  width: 40%;
  margin: 0;
}

header {
  padding: 1em;
  padding-left: 7%;
}

header h1 {
  margin-top: 5px;
  /*color: #FF4E50;*/
}

header nav {
  float: right;
}

header nav li {
  display: inline-block;
  margin-right: 1em;
}

header nav li a:link {
  color: #FF4E50;
  text-decoration: none;
}

header nav li a:visited {
  color: #FC913A;
  text-decoration: none;
}

/*********************
HERO IMAGE AND HEADER
**********************/

main section:first-of-type {
    /*TING: CHANGE TO IMAGE */
  /*background-image: url(https://placebear.com/200/300);
  background-size: cover;
  background-repeat: no-repeat;*/
  height: 20em;
  background-color: #EDE574;
}

main section h1#hero-text {
  text-align: center;
  padding: 9em;
  margin-top: 0;
  left: 50%
}

main section h1 span {
  border: solid;
  background: white;
  padding: 1em;
}

/*********************
MAIN BLURB AND HEADER
**********************/

main {
  margin: 0;
}

main section.portfolio{
  margin-top: 7%;
  padding: 3em;
  padding-top: 0;
  text-align: center;
  background: white;
  /*TW: Why is there a background here?*/
}

/*TW: How can I make the boxes align under each other like meowspace?*/

main article {
  border: transparent;
  /*border-radius: 10px;*/
  background: #E1F5C4;
  width: 20%;
  height: 10em;
  display: inline-block;
  margin: 2em;
}

main article p {
  text-align: right;
  margin-top: 45%;
  margin-right: 13%;
}

/*********************
FOOTER
**********************/

footer {
  border-top: transparent;
    margin-top: 10%;
}

footer h4 {
  text-align: center;
  color: #FF4E50;
}

footer nav {
  text-align: center;
}

footer nav ul {
  padding: 0;
  margin: 2px;
}

footer nav li {
  display: inline-block;
  margin-right: 1em;
  margin-bottom: 2em;
}

footer nav li a:link, footer nav li a:visited {
  color: #FC913A;
  text-decoration: none;
}
