* {
  /*border: 2px black solid;*/
  font-family: courier, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

header {
  top: 0;
  position: fixed;
  height: 150px;
  width: 100%;
  background-color: black;
  padding-bottom: 10px;
}

header h1 {
  display: block;
  text-align: center;
  vertical-align: middle;
}

header h1 > a {
  color: white;
  font-size: 2em;
}

header .nav {
  font-size: 1.5em;
  display: block;
  text-align: center;
}

header a {
  text-decoration: none;
}

header ul li {
  display: inline-block;
  list-style: none;
  padding: 0px 2em;
}

.nav a {
  color: white;
}

.nav a:hover, header h1>a:hover {
  color: gold;
}

div.non-static {
  position: absolute;
}
.content:nth-child(2) {
  margin-top: 180px;
}

.bar {
  font-size: 2em;
  color: white;
  background-color: #002AFF;
  text-align: center;
  /*height: auto;*/
  padding: 20px 0;
  margin: -32px 0;
}

.text {
  position: relative;
  z-index: 1;
  vertical-align: middle;
  padding: 0px 100px;
  text-align: justify;
  font-size: 2em;
<<<<<<< HEAD
  padding-top: 100px;
  color: #002AFF;
=======
  /*padding-top: 100px;*/
  margin-top: 160;
  color: violet;
>>>>>>> 19c62779ddc59c436e56c00bce876aafef12b6f9
  height: 500px;
}

#monsterbook::after {
  height: 500px;
  background-image: url("../images/monster-book.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#three-categories::after {
  height: 500px;
  background-image: url("../images/three-categories.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#reviewsy::after {
  height: 500px;
  background-image: url("../images/reviewsy-website.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#meowspace::after {
  height: 500px;
  background-image: url("../images/meowspace.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

<<<<<<< HEAD
#word-guess {
=======
#word-guess::after {
  height: 500px;
>>>>>>> 19c62779ddc59c436e56c00bce876aafef12b6f9
  background-image: url("../images/word-guess.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#solar-system::after {
  height: 500px;
  background-image: url("../images/solar-system.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#scrabble::after {
  height: 500px;
  background-image: url("../images/scrabble-code.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#bank-account::after {
  height: 500px;
  background-image: url("../images/bank-account.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#ride-share::after {
  height: 500px;
  background-image: url("../images/ride-share.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

footer {
  clear: both;
  margin-bottom: -60px;
  text-align: center;
}

.contact-info li {
  list-style: none;
  display: inline-block;
  padding: 0 30px;
}

.contact-info a, .contact-info p {
  text-decoration: none;
  color: black;
}

.contact-info p {
  font-size: .8em;
}


.contact-info a:hover {
  color: gold;
}
