#prague {
  background: url("../assets/hipster-prague-cropped-a-lot.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 304px;
}

#prague-banner {
  margin-top: 150px;
  margin-bottom: 0;
}

#seattle {
  background: url("../assets/seattle-dusk.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 304px;
}

#seattle-banner {
  margin-top: 150px;
  color: white;
}

#future {
  background: url("../assets/silicon-valley.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 304px;
}


#future-banner {
  margin-top: 100px;
  color: white;
}

#hint {
  font-size: 1em;
  margin-top: 150px;
}

p {
  margin: 0;
}
