@font-face {
    font-family: 'Glitch0';
    src:url('../fonts/Glitch0.ttf.woff') format('woff'),
        url('../fonts/Glitch0.ttf.svg#Glitch0') format('svg'),
        url('../fonts/Glitch0.ttf.eot'),
        url('../fonts/Glitch0.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

body {
  margin: 0px;
  padding: 20px;
  background-color: #CCCB9E;
  border-width: 20px;
  color: white;
  font-family: 'Glitch0', courier;
}

#inner-frame {
  border-color: #BEBD84;
  border-width: 20px;
  border-style: inset;
  background-color: black;
}

header p {
  background-color: #3F6BEC;
  padding: 2px 10px;
  font-size: 1.25em;
  margin: 5px 10px;
}

main {
  margin: 0px 10px;
  background-color: black;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 5px;
}

nav ul {
  margin: 10px;
}

nav li {
  list-style-type: none;
  display: inline-block;
  font-size: 1.25em;
  padding-right: 20px;
}

nav li::first-letter {
  background-color: #3F6BEC;
}

footer {
  margin-top: 10px;
}

footer img {
  width: 15px;
  float: left;
  margin-right: 10px;
  margin-top: 2px;
}

footer a {
  margin-top: 10px;
  color: white;
  text-decoration: none;
  font-family: helvetica;
  font-weight: bold;
  text-shadow: 2px 2px #8D8C5E;
}
