html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-size: cover;
  background-image: url('../images/12.jpeg');
}

header {
  /*position: fixed;*/

}

.right li {
  list-style: none;
}

.facebook, .github, .instagram , .twitter {
  text-decoration: none;
  color: inherit;
}
