
@import url('https://fonts.googleapis.com/css?family=Merriweather|Raleway');

@import url('https://fonts.googleapis.com/css?family=Allerta|Allerta+Stencil|Squada+One');


header {
  height: 5em;
}

header nav li {
  list-style: none;
  font-size: 1.7em;
  display: inline-block;
  /*padding: 1em 1.7em;*/
  float: right;
}

header nav li:hover {
  text-shadow: 3px 3px 3px #07b6f2;
  /*font-size: 1.6em;*/
}

header nav li:hover a{
  color: #f1e6c4;

}
header nav ul li.logo-home {
  font-size: 2.5em;
  position: absolute;
  float: left;
}
header nav ul li.logo-home a {
padding: 0px;
}


header nav ul li a {
  color: #9ebcab;
  text-decoration: none;
  opacity: .5;
  padding: 1em 1.7em;

}


body {
  background: url("../images/orange_sunset.jpg") no-repeat center center fixed;
  background-color: grey;
  background-size: cover;
  font-family: 'Squada One', cursive;
  margin: 0;
  padding: 0;
}


main {
  display: block;
  /*margin-top: 5%;*/
  left: 50%;
  width: 100%;
  text-align: center;
  font-family: "Allerta", sans-serif;
  overflow:auto;
  padding-bottom: 150px;
}
#website-title {
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 5em;
  margin-top: 1em;
}
/*main h1 {
  text-align: center;
  font-size: 3.5em;
  color: #f1e6c4;
  font-family: 'Allerta Stencil', sans-serif;
  text-align: center;
  text-shadow: 0 2px 2px #000;
  margin: 0;
}*/

main section h1 {
  position: relative;
  text-align: center;
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 5em;
  color: #f1e6c4;
  margin-bottom: auto;
  text-shadow: 0 2px 2px #000;
}

li {
list-style: none;
font-size: 1.5em;
text-align: center;
color: #f1e6c4;
text-shadow: 0 1px 1px #000;


}

main h4 {
  text-align: center;
  font-size: 2em;
}

main p {
  text-align: center;
  list-style: none;
  font-size: 2em;
  text-align: center;
  color: #f1e6c4;

  /*padding-bottom: 2em;*/
}


footer {
  color: #9ebcab;
  display: inline-block;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
footer nav ul {
  display: inline-block;
  list-style: none;
  float: right;
}

footer h4 {
  display: inline-block;
  float: left;
}

footer nav ul li a {
  color: #9ebcab;
  font-size: .7em;
  display: inline-block;
}

footer nav {
  display: inline-block;
  float: right;
}

#disclaimer {
    display: inline-block;
    float: left;
    margin-top: 22px;
  }

  html, body {height: 100%;}

  #wrap {min-height: 100%;}


  footer {position: relative;
  	margin-top: -150px; /* negative value of footer height */
  	height: 150px;
  	clear:both;
    font-family: 'Squada One', cursive;
  }

footer nav ul li {
  display: inline-block;
  clear: both;
  padding-bottom: 3em;
  padding-right: .2em;
  padding-left: .2em;
}
  footer nav ul.ways-to-connect li img {

    height: 30px;
  }
