main {
  margin-top: 80px;
}

img[alt="Anna Elisabeth"] {
  width: 40%;
  border: 3px solid black;
  -webkit-box-shadow: 6px 6px 20px -1px rgba(0,0,0,0.78);
  -moz-box-shadow: 6px 6px 20px -1px rgba(0,0,0,0.78);
  box-shadow: 6px 6px 20px -1px rgba(0,0,0,0.78);
  float: left;
  display: inline-block;
  margin: 20px;
}

section p {
  float: right;
  display: inline-block;
  font-family: 'Open Sans';
  width: 40%;
  margin: 20px;
  clear: right;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}
