body {
  margin-top: 75px;
}

main {

}

article {
  width: 27%;
  height: 225px;
  padding: 20px;
  display: inline-block;
  text-align: center;
}

h2 {
  text-align: center;
}

footer {
  clear: both;
  bottom: 0px;
}
