/*General Styling*/
@import url('https://fonts.googleapis.com/css?family=Stint+Ultra+Expanded');
@import url('https://fonts.googleapis.com/css?family=Pontano+Sans');

/*Header Styling*/
#main-body{
  margin-top: 120px;
}
header nav > ul{
  display: inline-block;

}

aside{
  vertical-align: top;
  width: 30%;
  display: inline-block;
}
aside [class*=icono-] {
  color: gray;
}
aside a{
  color:gray;
  font-size: 25px;
  text-shadow: 1px 1px 2px gray, 0 0 1em #3a7bd5, 0 0 0.2em teal;

}

#text-body >article{

  width: 90%;
  display: inline-block;
  border-radius: 10px;
  vertical-align: top;
  margin-bottom: 8%;
}
#text-body a{ color:white;text-decoration: none}
#text-body h2{
  font-weight: 100;
  text-align: center;
  font-family:'Stint Ultra Expanded', cursive;}

  #text-body article:nth-child(odd){
    background: rgba(157,194,213,.3);
  }
  #text-body article:nth-child(even){
    background: rgba(220,184,188,.3);
  }
  #text-body{
    width: 65%;
    display: inline-block;
  }
  /*Splash Section Styling*/

  nav.footer{
    position:absolute;
    bottom: 100px;
  }
