@import url('https://fonts.googleapis.com/css?family=Stint+Ultra+Expanded');
@import url('https://fonts.googleapis.com/css?family=Pontano+Sans');



/*General Styling*/
body{
  font-family:'Pontano Sans',Helvetica,sans-serif;

  background: #3a7bd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3a7bd5 , #3a6073); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3a7bd5 , #3a6073); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

body *{
  margin: 0px;
  padding: 0px;
  border-width: 0px;
}


/*Header Styling*/
 header h2{
   display:inline-block;
   font-family: 'Stint Ultra Expanded',Helvetica, serif;
   width: 30%;
   color:gray;
   font-style: italic;
   font-size:30px;
   /*font-weight: 200;*/
 }

 header nav:first-of-type{
   display: inline-block;
   width: 60%;
   text-align: right;

 }
header nav > ul{
  display: inline-block;
}

nav li {
display: inline-block;
}
/*Splash Section Styling*/
#splash {
    height: 200px;
    vertical-align: text-bottom;
    text-align: center;
    padding-top: 20%;
    margin-top: 10%;
    margin-left: 0px
    margin-bottom: 30%;
    background-image: url('/Users/tehutgetahun/ada/que/week6/hw/Static-Site/assets/photos/market.JPG');
    opacity: .5;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

@keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}
.my-object {
   animation-name: bounce-in-top;
   animation-duration: 5s;
   font-size: 50px;
   font-family: "Stint Ultra Expanded", cursive;
   text-shadow: 1px 1px 2px gray, 0 0 1em #3a7bd5, 0 0 0.2em teal;
   color:white;
   position: absolute;
   top: 20%;
   right:97%;
   display: inline-block;
   z-index: 40;
   width:30px;
 }
nav.footer{
  position:absolute;
  bottom: 100px;
}
