/*General Styling*/
body{
  background: #FF5F6D; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FF5F6D , #FFC371); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #FF5F6D , #FFC371); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body *{
  margin: 0px;
  padding: 0px;
  border-width: 0px;
}


/*Header Styling*/
 header h2{
   display:inline-block;
   font-family: Helvetica, serif;
   width: 30%;
 }

 header nav:first-of-type{
   display: inline-block;
   width: 60%;
   text-align: right;

 }
header nav > ul{
  display: inline-block;
}

nav li {
display: inline-block;
}
/*Splash Section Styling*/
#splash {
    height: 200px;
    vertical-align: text-bottom;
    text-align: center;
    padding-top: 20%;
    border:solid;
    margin-top: 10%;
    margin-bottom: 30%;
}

nav.footer{
  position:absolute;
  bottom: 100px;
}
