
body {
  position: absolute;
  background-size: cover;
  font-family: 'Open Sans Condensed', sans-serif;
}

/*space these words out more*/
.site-nav {
  display: inline-block;
  position: relative;
  left: 1500px;
  margin: 10px;
  padding: 0 60px 0 60px;
  color: white;
  font-size: 26px;
}

a:visited {
  color: gray;
}

img {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}


.about-me {
  position: absolute;
  margin: 150px 0 0 200px;
  width: 100%;
  font-size: 25px;
  color: white;
}
.about-me p {
  padding: 10px 0 10px 0;
}

footer {
  display: inline-block;
  position: fixed;
  margin: 1000px 1000px 2px 10px;
}

#disclaimer {
  color: white;
  font-size: 10px;
}
