html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: maroon;
  margin: 0px auto;
  /*padding: 10px, 30px, 10px;*/
  /*Opacity start*/
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=80);
  -moz-opacity: 0.80;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  /*Opacity end*/
  vertical-align: bottom;

}

header h2 a {
  color: white;
  float: left;
  padding-left: 2em;
  padding-bottom: .4em;
}

header ul li {
  display: inline-block;
  float: right;

}
header ul li a {
  color: white;
  padding-right: 2em;
}

a{
  text-decoration: none;
}

main section {
clear: both;
padding-top: 70px;
}

footer {
  border-top: solid;
  clear: both;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 0.5em 0em;
}

footer ul {
  padding-left: 0px;
  margin: 0;
}

footer ul li {
  display: inline-block;
}

footer ul li img:first-child {
  height: 50px;
  width: 50px;
}
