@import url('https://fonts.googleapis.com/css?family=Oswald');


/* EVENTUALLY
*********************************/
/* + Add animation to index page title */
/* + Align Nav Text Left and Icons Right */
/* + Restructure heading so that social icons are on same line as title */


/* CSS RESET + DEFAULT SETTINGS
*********************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a, h4, footer p {
  font-family: Courier, Georgia, Times, serif;
  font-size: .8em;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 1em;
}

p {
  font-family: 'Georgia','Times','Times New Roman', serif;
  font-size: .9em;
  line-height: 1.9em;
  margin-bottom: 1em;
  color: black;
}


/* BODY
*********************************/
body {
  padding: 5%;
  background: white;
  background-image: url("../assets/specks.png");
  background-size: 500px;
  background-repeat: repeat;
}


/* HEADER
*********************************/
header {
  display: block;
}

header h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 2.5em;
  letter-spacing: .08em;
  /*text-align: center;*/
}

#nav-links a:active, #nav-links a:hover {
  border-bottom: 5px solid black;
}

#nav-social a:active, #nav-social a:hover {
  color: pink;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  float: left;
  margin: auto;
  list-style: none;
  width: 100%;
  border-top: 5px solid black;
  border-bottom: 2px solid black;
}

#nav-links li, #nav-social li {
float: left;
list-style: none;
font-size: 1.25em;
font-weight: 400;
padding-top: .5em;
padding-bottom: .5em;
}

#nav-links li {
text-align: left;
padding-right: 1em;
}

#nav-social li {
text-align: right;
padding-left: .75em;
}


/* MAIN
*********************************/
main {
  clear: both;
  position: relative;
  display: block;
  margin-top: 100px;
  margin-bottom: 100px;
}


/* INDEX - WORK / PROJECTS
*********************************/
#work {
  display: block;
  justify-content: space-between;
}

#work .project {
  display: block;
  background: rgba(255, 255, 255, 0.7);
  width: 375px;
  height: 600px;
  margin-top: 1em;
  float: left;
  border-bottom: 5px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

#work .project img {
  width: 375px;
  height: 225px;
}

#work .project .project-desc {
  display: block;
  padding: 2em;
}

#work a.button {
  padding: .75em;
  border: 1px solid black;
  border-radius: 3px;
}

#work a.button:hover {
  color: white;
  background: black;
}


/* BLOG POSTS
*********************************/

#blog-posts {
  display: block;
}

#blog-posts .post {
  border-bottom: 5px solid black;
  margin-top: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

#blog-posts .details-top {
  border-top: 2px solid black;
  padding-top: .5em;
}

#blog-posts .post img {
  width: 100%;
  padding-bottom: 25px;
}


/* FOOTER
*********************************/

footer {
  clear: both;
  padding-top: 1em;
  border-top: 1px solid black;
  text-align: center;
}
