html {
  background-color: #fcfdff;
}


body {
  font-family: 'Open Sans Condensed', sans-serif;
}

header {
  padding: 10px;
}

.menu {
  /*float: right;*/
  padding: 5px 0 0 0;
  color: black;
  font-size: 26px;
}

a:hover {
  color: #b2203f;
}

a:visited {
  color: gray;
}


h3 {
  /*position: relative;*/
  /*margin: 150px 0 0 80px;*/
  /*width: 40%;*/
  font-size: 60px;
  /*color: black;*/
}

.contact {
  padding-left: 5px;
}

.short-bio {
  font-size: 25px;
}

.picture {
box-shadow: 6px 6px 8px #aaa;
}


.about-me {
  font-size: 25px;
}

.about-me, p {
  padding-top: 10px;
}

.portfolio {
  font-size: 25px;
}

.portfolio p {
  padding-top: 10px;
}

.hobbies {
  padding-top: 10px;
  font-size: 25px;
  /*background-image: asset_url("hiking.jpg");*/
}

.interests {
  display: block;
  /*background-image: url("hiking.jpg");
  width: 100px;
  height: 100px;*/
}


footer {
  width: 100%;
  bottom: 0;
  position: fixed;
  margin: 0 auto;
}
