
body {
  position: absolute;
  background-size: cover;
  font-family: 'Open Sans Condensed', sans-serif;
}

header {
  position: fixed;
  width: 100%;
}

/*space these words out more*/
.site-nav {
  float: right;
  padding: 10px 15px 0 0;
  color: white;
  font-size: 26px;
}

a:hover {
  color:black;
}

img {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.portfolio {
  position: relative;
  margin: 150px 0 0 80px;
  width: 40%;
  font-size: 25px;
  color: white;
}
.portfolio p {
  padding: 10px 0 10px 0;
}

footer {
  width: 100%;
  bottom: 0;
  position: fixed;
}

#disclaimer {
  color: white;
  font-size: 10px;
}
