#portfolio {
  margin-top: 50px;
  /*margin-bottom: 10%;*/
  /*width: 100%;*/
}

#portfolio h1 {
  font-size: 3.5em;
  text-align: center;
  padding-top: 8%;
  height: 60px;
}

#portfolio p {
  font-size: 2em;
  text-align: center;
  height: 75px;
}

#portfolio img {
  border: 2px solid black;
  border-radius: 100%;
  height: 10em;
  margin-left: 60px;
  /*float: left;*/
  /*font-size: 1.75em;
  background-color: gray;*/
}

/*.img-circle {
    border-radius: 100%;
}*/

/*#portfolio #one {
  font-size: 1.75em;
  float: left;
  text-align: center;
  width: 15%;
  margin-left: 18%;
}

#portfolio #two, #portfolio #three {
  font-size: 1.75em;
  float: left;
  text-align: center;
  width: 15%;
  margin-left: 8%;
}*/

#portfolio li {
  /*text-decoration: none;*/
  list-style-type: none;
  display: inline-block;
  /*text-align: center;*/
}

footer {
  margin-top: 6%;
  /*height: 100px;*/
  /*text-align: bottom;*/
}
