* {
  /*margin: 0*/
  /*border: solid black;*/
}
li {
  font-family: 'Poppins', sans-serif;
}
a {
  text-decoration: none;
}

header {
  background-color: #eee;
}

 #hero img {
  width: 100vw;
}

#title {
  float: left;
  clear: left;
  letter-spacing: 3px;
  font-size: 3em;
  color: red;
}

header ul {
  float: right;
  clear: right;
}

header li {
  display: inline-block;
  margin: 40px 20px 0 20px;
}

footer li {
  display: inline-block;
  margin: 20px;
}

article {
  clear: both;
  margin: 50px 100px 50px 100px;
  box-shadow: 10px 10px 5px #757D75;
}

.circle {
  background: yellow;
	border-radius: 50%;
	width: 200px;
	height: 200px;
  box-shadow: 5px 5px 2px #757D75;
  z-index: 0;
  position: absolute;
  display: block;
}

article h3 {
  position: relative;
  display: block;
  z-index: 100;
  float: left;
}

article p {
  z-index: 50;
}
