@import url('https://fonts.googleapis.com/css?family=Coming+Soon');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

/*** header stuff ***/
header {
  font-family: 'Coming Soon', cursive;
}
header h1 {
  padding: 2% 0 .5% 5%;
  border-bottom: dashed grey 1px;
  font-size: 2.5em;
  margin: 0;
}

header a {
  color: gray;
}

/*** main nav ***/
header nav {
  display: block;
  width: 100%;
  margin: auto;
  text-align: center;
}

header nav ul {
  padding: 0;
}

header ul li {
  margin 0;
}

header nav li {
  list-style-type: none;
  display: block;
  position: relative;
  float: left;
  width: 25%;
}

header nav li a {
  display: block;
  padding: .3em;
  width: 100%;
  font-size: 1.2em;
}

/*** nav dropdown menu ***/

.dropdown ul {
  z-index: 1;
  width: 100%;
  position: absolute;
  top: 33px;
  display: none;
}

.dropdown ul li {
  float: none;
  width: 100%;
}

.dropdown:hover ul {
  display: block;
}
