/*@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');*/
@import url('https://fonts.googleapis.com/css?family=Droid Serif');

html {
  /*height: 100%;
  margins: 0;
  padding: 0;*/
/*height: :100%;*/
  margin:0 auto;
  background-color: #e0e0e0;
  /*background: linear-gradient(to right,#FFAFBD, #ffc3a0);*/
  background: linear-gradient(to right,#ff6e7f, #ffc3a0);


/*background-color: #999;*/
/*max-height: 150px;*/

}

body {
  color: #7d4c4c;

  /*font-family: "Goudy Old Style",Garamond,"Big Caslon","Times New Roman","serif";*/
 /*font-family: "Arial", "Helvetica", "sans-serif";*/
 /*font-family: Geneva, Tahoma, Verdana, sans-serif;*/
 font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;

}


#home-header {
  /*background-color: salmon;*/
  top: 0px;
  left:0px;
  height: 110px;
  width: 100%;
  z-index: 1;
  margin-left: 50px;
  /*padding-right: 150px;*/
  /*border-bottom: .1em solid black;*/
}
.name-role h1{
  font-size: 3em;
  /*color: #7d4c4c;*/
}
.name-role h2{
  font-size: 2em;
  /*color: #7d4c4c;*/
}

.name-role {
  display: inline-block;
  float: left;
  position: relative;
  margin-left: 30px;
  line-height: 5px;
  top:0px;

}

#my-name {
  float: left;
  position: relative;
  top:0px;
  font-size: 1em;
  display: inline-block;
  /*border: .1em solid black;*/
  /*clear:both;*/
}
.main-nav {
  margin-right: 180px;
}
.main-nav li {
  display: inline-block;
  float: right;
  position:relative;
  margin:30px;
  font-size: 1.1em;
  font-weight: bold;
  /*clear: both;*/

}
a {
  text-decoration: none;
  color: #7d4c4c;
}
a:hover {
  color: blue;
}

.about-me img {
  float:left;
  /*display:inline-block;*/
  position: relative;
  top: 50px;
  margin-left:-300px;
  height: 380px;
  width: 380px;
  border-radius: 50%;
}

.about-me h2 {
  font-size: 2em;
  line-height: 5px;
}

.about-me h3 {
  font-size: 2em;
  line-height: 5px;
}


.about-me section{
  display: inline-block;
  position: relative;
  top:90px;
  margin-right: 150px;
  float: right;
  width: 40%;
  /*border: .1em solid black;*/
  padding: 10px;
  text-align:justify;
}

/*projects.html styling*/
.projects h1 {
  font-size:2.7em;
  font-weight: 100;
  text-align: center;
}
.projects a {
  float:left;
  display: inline-block;
  position: relative;
  background-image: url("../images/circle.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 120px;
  width: 120px;
  clear: both;
  line-height: 120px;
  text-align: center;
  margin-left: 70px;
  margin-bottom: 10px;
  font-weight: bold;
  /*vertical-align: middle;*/

}

.projects p {
  float: left;
  display: inline-block;
  /*top:20px;*/
  position: relative;
  width: 70%;
  margin-left: 40px;

}

/*.projects h2{
  font-size: 1.1em;
  line-height: 40px;
}*/
/*.projects section {
  position: relative;
  display: inline-block;

}*/

.projects section p::before{
  content:"project #"
  

}

/*.projects section p::before{
  counter-increment: inherit;

}*/






/*footer styling*/
.social img {
  width: 35px;
  height: 35px;

}
.social li {
  float: left;
  position: relative;
  top: 15px;
  margin-right: 20px;
  display: inline;
  /*clear:both;*/
}

#disclaimer {
  display: inline-block;
  position: relative;
  float: right;
  top: 5px;
  padding-right: 40px;
  font-size: .9em;
  color: black;
  /*font-weight: bold;*/
}

footer {
  position:absolute;
  width: 100%;
  height: 90px;
  margin-bottom:0px;
  top: 800px;
  /*border: .1em solid black;*/
  background-color: #ff6e7f;
}
