@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');

html {
  /*height: 100%;
  margins: 0;
  padding: 0;*/
height: : 100%;
margin:0 auto;
background-color: #e0e0e0;

/*background-color: #999;*/

}

#home-header {
  /*background-color: salmon;*/
  top: 0px;
  left:0px;
  height: 110px;
  width: 100%;
  z-index: 1;
  /*border-bottom: .1em solid black;*/
}
.name-role h1{
  font-size: 3em;
  color: #7d4c4c;

}
.name-role h2{
  font-size: 2em;
  color: #7d4c4c;

}
.name-role {
  display: inline-block;
  float: left;
  position: relative;
  line-height: 5px;
  top:0px;

}



/*#my-name {
  font-size: 3em;
  color: red;
}

#role {
  font-size: 3em;
  color: red;
}*/


body {
  font-family: 'Baloo Bhaina';
}


#my-name {
  float: left;
  position: relative;
  top:0px;
  font-size: 1em;
  display: inline-block;
  /*border: .1em solid black;*/
  /*clear:both;*/

}


.main-nav li {
  display: inline-block;
  float: right;
  position:relative;
  color: red;
  margin:20px;
  font-size: 1.3em;

}

.about-me img {
  float:left;
  display:inline-block;
  position: relative;
  top: 50px;
  height: 380px;
  width: 380px;
  border-radius: 50%;
}

/*.about-me div{
  width:30%;
}*/
.about-me h2 {
  font-size: 2em;

}

.about-me h3 {
  font-size: 2em;

}


.about-me section{
  display: inline-block;
  float: right;
  width: 65%;
  border: .1em solid black;
  padding: 10px;
  text-align:justify;
}


.social img {

  width: 35px;
  height: 35px;

}
.social li {
  float: left;
  position: relative;
  top: 15px;
  margin-right: 20px;
  display: inline;
  /*clear:both;*/
}

#disclaimer {
  display: inline-block;
  position: relative;
  float: right;
  top: 5px;
  padding-right: 40px;
  font-size: .9em;
}

footer {
  position: absolute;
  width: 100%;
  height: 90px;
  margin-bottom: 20px;
  top: 1000px;
  border: .1em solid black;
  background-color: #f06292;
}
