
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,500,700|Cinzel:400,700|Cousine:400,700|Julius+Sans+One|Jura:400,500,600|Poiret+One');

/**********************************************************************
default styling
***********************************************************************/

* {
  margin: 0;
  padding: 0;
  border: solid;
}

body {
  /*background-color: rgb(220,220,220);*/
}

h1,
h2,
h3 {
  font-family: 'Julius Sans One';
}

p {
  font-family: 'Poiret One';
  font-size: 1.2em;
  color: Dimgrey;
}

a {
  color: MidnightBlue;
  font-size: 1.2em;
  font-family: 'Cousine';
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  color: #5B5BA6;
}

/**********************************************************************
header styling
***********************************************************************/

header {
  /*background-color: grey;*/
  display: inline-block;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 100%;
}

header h1 {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 2em;
}

header ul {
  list-style-type: none;
  padding-top: 1%;
  text-align: right;
}

header li {
  display: inline-block;
  padding-right: 7%;
}

/**********************************************************************
section styling
***********************************************************************/

/*this worked to create equal margin space on left and right side of page*/
main {
  margin-left: 3%;
  margin-right: 3%;
}

/*h1 styling*/
/*right now taking up all div space*/
/*things don't look lined up when you add left/right margins..*/
/*this is your red box and adding left/right margins will offset it*/
div {
  /*background-color: green;*/
  text-align: center;
  margin-top: 2%;
}

h3 {
  border-bottom: solid;
  font-size: 2em;
  /*margin-left: 2%;*/
  /*margin-right: 2%;*/
  padding-bottom: 1%;
}

/*****************************************************************************/
                      /*blog post sytling*/
/*****************************************************************************/

/*#intro {*/
section {
  /*background-color: green;*/
  /*width: 90%;*/
  text-align: center;
  display: inline-block;
  padding: 1.1em;
  margin: 1%;
}

h1 {
  /*text-align: center;*/
  font-size: 3em;
  width: 100%;
  /*margin: 1%;*/
  /*text-align: left;*/
}

h1~p {
  /*color: pink;*/
  width: 100%;
  /*margin: 1%;*/
}

p {
  display: inline-block;
  /*background-color: lavender;*/
  color: Dimgrey;
  margin: 0;
  margin-top: 2%;
  text-align: left;
  width: 55%;
  vertical-align: text-top;
}

li {
  padding: 1%;
  font-family: 'Jura';
  font-size: 1.2em;
  color: Dimgrey;
}

.blog_posts article {
  display: inline-block;
  margin-bottom: 1%;
  /*padding: 1.1em;*/
  text-align: left;
}

.posts section {
  text-align: center;
  /*background-color: lightgreen;*/
  margin: 0;
  padding: 0;
}

.blog_posts img {
  display: inline-block;
  vertical-align: text-top;
  margin-top: 2%;
  margin-right: 2%;
  width: 40%;
}

/*****************************************************************************/
                      /*portfolio sytling*/
/*****************************************************************************/

.projects article {
  /*background-color: white;*/
  /*background-color: rgb(220,220,220);*/
  /*border: solid;*/
  display: inline-block;

  margin: 1%;
  margin-bottom: 5%;
  width: 45%;
}

.projects section {
  /*background-color: pink;*/
  margin: 2%;
  width: 80%;
  padding: 1.1em;
  display: inline-block;
  text-align: center;
  vertical-align: text-top;

}

.projects a {
  color: red;
  color: Purple;
}

.projects a:hover {
  color: #440044;
  color: #D050D0;
}

.projects ul {
  margin: 5%;
  text-align: left;
}

/*****************************************************************************/
                      /*about sytling*/
/*****************************************************************************/

.about section {
  /*display: inline-block;*/
  /*text-align: center;*/
  /*margin: 0;*/
  /*padding: 2%;*/
}

.about img {
  vertical-align: text-top;
  width: 40%;
  padding: 1em;
  clear: left;
}

.about div {
  float: left;
  width: 50%;
  vertical-align: text-top;
  margin: 0;
}

.about p {
  width: 100%;
  margin: 0;
}

.about ul {
  text-align: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.about li {
  /*margin: 0;*/
  /*padding: 0;*/
}
/*footer styling */
/*footer {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  border: solid;

}*/
